@font-face {
  font-family: pockey-Regular;
  src: url("../../font/pokey-regular.woff2");
}
@font-face {
  font-family: pockey-Light;
  src: url("../../font/pokey-light.woff2");
}
@font-face {
  font-family: pockey-Bold;
  src: url("../../font/pokey-bold.woff2");
}
@font-face {
  font-family: pockey-DemiBold;
  src: url("../../font/pokey-demibold.woff2");
}
@font-face {
  font-family: pockey-Black;
  src: url("../../font/pokey-black.woff2");
}

@font-face {
  font-family: pockey-Ultrabold;
  src: url("../../font/pokey-ultrabold.woff2");
}

@font-face {
  font-family: pockey-Ultralight;
  src: url("../../font/pokey-ultralight.woff2");
}
