// Colors

$mainBlue: #4267B2;
$mainBlack: #050505;


//fonts
$font-regular: pockey-Regular, sans-serif;
$font-light: pockey-Light, sans-serif;
$font-bold: pockey-Bold, sans-serif;
$font-demibold: pockey-Demibold, sans-serif;
$font-black: pockey-Black, sans-serif;
$font-ultrabold: pockey-Ultrabold, sans-serif;
$font-ultralight: pockey-Ultralight, sans-serif;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;